button {
    border-radius: 30%;
    height: 3vw;
    width: 4vw;
    font-size: 1vw;
    height: 5vw;
    width: auto;
}


.calcWrapper {
    display: flex;
    justify-content: center;
}

.calc {
    background-color: rgb(43, 43, 43);
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 10vw;
    height: 30vw;
    width: 30vw;
    border-radius: 10%;

}

.nums {
    margin-top: -2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nums button {
    width: 7vw;
    height: 7vw;
}